@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Belleza&display=swap');

:root {
    --cor1: #401C02;
    --cor2: #816757;
    --cor3: #D8AA7C;
    --corfonte1: #E7DEDE;
    --corfonte2: #5F3F32;
    --corfonte3: #765D4B;
    --corfonte4: #5F3F32;
    --corfonte5: #C08634;
    --corfonte6: #401C02;
    --cortransp1: #d8aa7c94;
    --cortransp2: #401c02ae;
    --cortransp3: #e7dede9e;
    --cortransp4: #bea99f9e;

    --fontetitulos: 'Libre Baskerville', serif;
    --fontetextos: 'Belleza', sans-serif;



}

body {
    margin: 0px;
    padding: 0px;
    background-color: var(--cor1);
    
}

header {
    background-color: var(--cor1);
    height: 100vh;
}

div#logo {
    background-color: var(--cor1);
}

h1 {
    font-family: var(--fontetitulos);
    padding: 20px;
    font-size: 7vh;
}

.container {
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
    width: 100vw;
    
    
}

div#sobre {
    height: 100vh;
    background-image: url(imagens/sobre.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

div#txt1 {
    background-color: var(--cortransp1);
    width: 50%;
    height: 100%;
    font-family: var(--fontetextos);
    color: var(--corfonte2);
    

}

div#txt1 > p {
    padding: 0px 20px 0px 20px;
    font-size: 1.5em;
    text-align: left;
}

div#bebidas {
    display: flex;
    justify-content: flex-end;
    height: 100vh;
    background-image: url(imagens/bebidas.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
}

div#txt2 {
    text-align: left;
    background-color: var(--cortransp2);
    width: 50%;
    height: 100%;
    font-family: var(--fontetextos);
    color: var(--corfonte1);    
}

div#doces {
    display: flex;
    justify-content: flex-start;
    height: 100vh;
    background-image: url(imagens/doces.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
}

div#txt3 {
    text-align: left;
    background-color: var(--cortransp3);
    width: 50%;
    height: 100%;
    font-family: var(--fontetextos);
    color: var(--corfonte4);    
}

div#salgados {
    display: flex;
    justify-content: flex-end;
    height: 100vh;
    background-image: url(imagens/salgados.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
}

div#txt4 {
    text-align: left;
    background-color: var(--cortransp2);
    width: 50%;
    height: 100%;
    font-family: var(--fontetextos);
    color: var(--corfonte5);    
}

div#contato {
    display: flex;
    justify-content: flex-start;
    height: 100vh;
    background-image: url(imagens/contato.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
}

div#txt5 {
    text-align: left;
    background-color: var(--cortransp3);
    width: 50%;
    height: 100%;
    font-family: var(--fontetextos);
    color: var(--corfonte6);    
}


ul {
    list-style-type: none;
    line-height: 2;
    font-size: 5vh;
}

div#logo-contato {
    padding: 30px;
    display: flex;
    justify-content: space-around;
    flex-direction: column-reverse;
    
}

div#logo-contato > p {
    font-size: 2em;
}

div#logo-contato > img {
    width: 100px;
    height: 100px;
}





div.texto {
    width: 50%;
}

footer {
    text-align: center;
    font-size: 1.5em;
    background-color: var(--cor1);
    color: var(--corfonte1);
}

footer > p > a {
    text-decoration: none;
    color: var(--corfonte1);
}

@media only screen and (min-width: 900px) and (max-width: 1200px) {

}

@media only screen and (max-width: 900px){
    div.texto {
        font-size: 2vh;
    }

    ul {
        font-size: 4vh;
    }

    div#sobre {
        background-position: right bottom;
    }

    div#bebidas {
        background-position: left center;
    }

    div#doces {
        background-position: center bottom;
    }

    div#salgados {
        background-position: center bottom;
    }

    div#contato {
        background-position: center center;
    }
}

@media only screen and (max-width: 690px) {
    ul {
        font-size: 3vh;
    }
}

@media only screen and (max-width: 530px){
    header {
        display: flex;
        flex-wrap: wrap;
        height: 50vh;
        align-items: center;
        justify-items: center;

    }

    div#logo > img {
        width: 50vw;
        height: 50vh;
    }
    
    div#txt1 {
        font-size: 3vh;
        width: 100%;
    }
    
    div#txt2 {
        font-size: 2vh;
        width: 100%;
    }

    div#txt3 {
        font-size: 2vh;
        width: 100%;
    }

    div#txt4 {
        font-size: 2vh;
        width: 100%;
    }

    div#txt5 {
        font-size: 2vh;
        width: 100%;
    }

    ul {
        font-size: 4vh;
    }

    div#sobre {
        background-position: right bottom;
    }

    div#bebidas {
        background-position: left center;
    }

    div#doces {
        background-position: center bottom;
    }

    div#salgados {
        background-position: center bottom;
    }

    div#contato {
        background-position: center center;
    }
}